.container{
	width: 512px;
	margin: 0 auto;
}

.row{
	margin: 0;
	padding: 0;
	height: 32px;
	width: 512px;	
}

.col{
	display:inline-block;
	width: 32px;
	height: 32px;
	background-color: #666;
	margin: 0;
	padding: 0;
}

.blank{

}

.color{

}

.overlay, .overlay1, .overlay2, .overlay3, .overlay4, .overlay5, .overlay6, .overlay7, .overlay8, .overlay9, .overlay10{
	width: 32px;
	height: 32px;
	background-color: black;
}

.overlay{
	opacity: 0;
}

.overlay1{
	opacity: .1;
}

.overlay2{
	opacity: .2;
}

.overlay3{
	opacity: .3;
}

.overlay4{
	opacity: .4;
}

.overlay5{
	opacity: .5;
}

.overlay6{
	opacity: .6;
}

.overlay7{
	opacity: .7;
}

.overlay8{
	opacity: .8;
}
.overlay9{
	opacity: .9;
}
.overlay10{
	opacity: 1;
}