.container{
	width: 512px;
	margin: 0 auto;
}

.row{
	margin: 0;
	padding: 0;
	height: 32px;
	width: 512px;	
}

.col{
	display:inline-block;
	width: 32px;
	height: 32px;
	background-color: #666;
	margin: 0;
	padding: 0;
}

.blank{

}

.color{

}