.container{
	width: 800px;
	margin: 0 auto;
}
.row, .col{
	margin: 0;
	padding: 0;
	height: 40px;
	width: 672px;	
}
.col{
	display:inline-block;
	width: 40px;
	background-color: #666;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	margin: 0;
	padding: 0;
}